<form (ngSubmit)="onSubmit()" #f="ngForm" class="example-form">
  <div id="user-data" ngModelGroup="userData">
    <table class="example-full-width" cellSpacing="0">
      <tr>
        <td>
          <!-- Kundenname -->
          <mat-form-field class="example-full-width">
            <mat-label for="kundenName">Kundenname:</mat-label>
            <input
              matInput
              type="text"
              id="kundenName"
              class="form-control"
              placeholder="Kundenname"
              [ngModel]="Kundenname"
              name="kundenName"
            />
          </mat-form-field>
        </td>

        <td>
          <!-- Projektname -->
          <mat-form-field class="example-full-width">
            <mat-label for="projektName">Projektname:</mat-label>
            <input
              matInput
              type="text"
              id="projektName"
              class="form-control"
              placeholder="Projektname"
              [ngModel]="Projektname"
              name="projektName"
            />
          </mat-form-field>
        </td>
      </tr>

      <td>
        <!-- Erstellername -->
        <mat-form-field class="example-full-width">
          <mat-label for="erstellerName">Erstellername:</mat-label>
          <input
            matInput
            type="text"
            id="Projektbetreuer"
            class="form-control"
            placeholder="Erstellername"
            [ngModel]="Erstellername"
            name="erstellerName"
          />
        </mat-form-field>
      </td>

      <td>
        <mat-form-field class="example-full-width">
          <mat-label for="erstellerDatum">Erstellerdatum:</mat-label>
          <input matInput [matDatepicker]="datepicker" />

          <mat-hint>MM/DD/YYYY</mat-hint>
          <input
            matInput
            type="text"
            id="Erstellerdatum"
            class="form-control"
            placeholder="Erstellerdatum"
            [ngModel]="Erstellerdatum"
            name="erstellerDatum"
          />

          <mat-datepicker-toggle
            matIconSuffix
            [for]="datepicker"
          ></mat-datepicker-toggle>

          <mat-datepicker #datepicker
            ><mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Cancel</button>
              <button mat-raised-button matDatepickerApply>Apply</button>
            </mat-datepicker-actions></mat-datepicker
          >

          <div>
            <!-- <p *ngIf="!userData.valid && userData.touched">User Data is invalid!</p> -->
            <div class="row" *ngIf="submitted"></div>
          </div>
        </mat-form-field>
      </td>
    </table>
  </div>
  <div>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close>No</button>
      <button mat-button mat-dialog-close cdkFocusInitial type="submit">
        Ok
      </button>
    </mat-dialog-actions>
  </div>
</form>
